.base {
  display               : flex;
  align-items           : center;
  justify-content       : center;
  background-color      : rgba(255,255,255, 0.01);
  /* box-sizing: border-box; */

  border-width          : lu_px(0.3);
  border-color          : rgba(255, 255, 0, 0);
  border-style          : dotted;

  width                 : lu_px(4);
  height                : lu_px(4);
  margin                : lu_px(0.2);
}