.App {}
.toolbar {
  padding             : 0.5em 0;
}
.toolbarTitle {
  font-weight         : bold;
}
.toolbarLink {
  color               : white;
  margin              : 0 0.5em;
  text-decoration     : underline;
  cursor              : pointer;
}