.App {}
.toolbar {
  padding             : lu_px(0.5) 0;
}
.toolbarLabel {
  user-select: none;
}
.toolbarSection {
  display             : inline-flex;
  margin-right        : lu_px(2);
}
.toolbarTitle {
  composes : toolbarLabel;
  font-weight         : bold;
}
.toolbarLink {
  color               : white;
  margin              : 0 lu_px(0.5);
  text-decoration     : underline;
  cursor              : pointer;
}
.toolbarSlider {
  width : lu_px(7);
}
.toolbarButtonDisabled {
  opacity: 0.2;
  pointer-events: none;
}
.toolbarStepButton {
  margin: 0 lu_px(0.3);
  padding: 0 lu_px(0.5);
  border : lu_px(0.1) solid rgb(71, 71, 71);
  cursor: pointer;
  user-select: none;
}
.toolbarStepButton:hover {
  background-color : rgba(255, 255, 255, 0.1);
}
.toolbarStepButton:active {
  background-color : rgba(255, 255, 255, 0.4);
}
.toolbarStepButtonDown {
  margin-left: lu_px(1);
}
.toolbarStepButtonUp {
  margin-right: lu_px(1);
}
.lumLabel {
  min-width: lu_px(3);
  text-align: center;
}